<h1> Edit Course {{course.courseName}} </h1>

<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
	<div class="mb-3">
		<label for="CourseId" class="form-label">Course ID</label>
		<input type="text" class="form-control" id="CourseId" name="CourseId" formControlName="courseId" readonly>
	</div>

	<div class="mb-3">
		<label for="courseName" class="form-label">Course Name</label>
		<input type="text" class="form-control" id="courseName" name="courseName" formControlName="courseName">
	</div>

	<div class="mb-3">
		<label for="courseDescription" class="form-label">Course Description</label>
		<textarea class="form-control" id="courseDescription" name="courseDescription" rows="3" formControlName="courseDescription"></textarea>
	</div>

	<div class="row g-3 align-items-center">
		<div class="col-auto">
			<label for="coursePrice" class="col-form-label">Price</label>
		</div>
		<div class="col-auto">
			<input type="number" id="coursePrice" name="coursePrice" class="form-control" formControlName="coursePrice">
		</div>
		<div class="col-auto">
			<span id="coursePriceHelpInLine" class="form-text">
				&euro;
			</span>
		</div>
	</div>

	<div class="row g-3 align-items-center">
		<div class="col-auto">
			<label for="courseSalePrice" class="col-form-label">Sale Price</label>
		</div>
		<div class="col-auto">
			<input type="number" id="courseSalePrice" name="courseSalePrice" class="form-control" formControlName="courseSalePrice">
		</div>
		<div class="col-auto">
			<span id="coursePriceHelpInLine" class="form-text">
				&euro;
			</span>
		</div>
	</div>

	<div class="b-3">
		<label for="courseImage" class="form-label">Course Image</label>
		<input type="text" class="form-control" id="courseImage" name="courseImage" placeholder="Image URL" formControlName="courseImage" />
	</div>

	<style>
		button {
			margin-top: 10px;
		}
	</style>

	<button class="btn btn-primary w-10 py-2" type="submit">Modify</button>
</form>

